<article class="uk-article mg-fadeable" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost"
         data-tags='{{ article.tags|map(attribute="name")|list|tojson }}'>
    <div class="mg-article-short">
        {% if article.featured_image %}
        <img class="mg-article-image image-process-thumb" src="{{ article.featured_image }}" alt="">
        {% endif %}
        <div class="mg-article-content">
            <a href="{{ SITEURL }}/{{ article.url }}" class="uk-link-muted"><h2 class="uk-article-title" itemprop="name">{{ article.title|e }}</h2></a>
            <p class="uk-article-meta"><time datetime="{{ article.date.strftime('%Y-%m-%d') }}" itemprop="datePublished">{{ article.locale_date }}</time>
                {% if CATEGORY_SAVE_AS %} • <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>{% endif %}
                {% if DISQUS_SITENAME %} • <br class="uk-visible-small"><i class="uk-icon-comment"></i> <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" itemprop="discussionUrl"></a>{% endif %}
            </p>
            <!--{{ article.summary }}-->
            <p class="uk-article-lead" itemprop="description">{{ article.summary|striptags|striptags }}</p>
            {% if not MG_DISABLE_SUMMARY %}<p>{{ ' '.join(article.content.split(' ')[:75])|striptags|striptags }}...</p>{% endif %}
            <a href="{{ SITEURL }}/{{ article.url }}">Read More</a>
            {% include "partials/inline-tags.html" %}
        </div>
    </div>
    <hr class="uk-article-divider">
</article>
