<!DOCTYPE html>
{% if article %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <!--<![endif]-->
{% elif page %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
{% else %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <!--<![endif]-->
{% endif %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ SITEURL }}/"><!-- So that "images/" prefixed URLs are resolved in the same way in pages/ -->

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="{% block meta_desc %}{{ DESCRIPTION|striptags|escape }}{% endblock %}">
    {% if FAVICON %}<link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="{{ FAVICON_TYPE|default('image/x-icon') }}">{% endif %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed">
    {% block meta %}
    {% endblock %}

    <meta name="author" content="{{ AUTHOR }}">
    <meta name="copyright" content="{{ AUTHOR }}">
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}" >
    <meta property="og:site_name" content="{{ SITENAME }}" >

    {% block seo %}
    <meta property="og:title" content="{{ SITENAME }}" >
    <meta property="og:type" content="website" >
    <meta property="og:url" content="{{ SITEURL }}" >
    <meta name="twitter:url" content="{{ SITEURL }}" >
    <meta itemprop="name" content="{{ SITENAME }}" >
    <meta itemprop="url" content="{{ SITEURL }}">
    {% if DESCRIPTION %}
    <meta property="og:description" content="{{ DESCRIPTION|striptags|escape }}" >
    <meta name="twitter:description" content="{{ DESCRIPTION|striptags|escape }}" >
    <meta itemprop="description" content="{{ DESCRIPTION|striptags|escape  }}" >
    {% endif %}
    {% if META_IMAGE %}
    <meta property="og:image" content="{{ META_IMAGE }}" >
    <meta property="og:image:type" content="{{ META_IMAGE_TYPE }}" >
    <meta name="twitter:image" content="{{ META_IMAGE }}" >
    <meta itemprop="image" content="{{ META_IMAGE }}" >
    {% endif %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/bundle-SHORTSHA1-4485979.css">
</head>
<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="mg-header uk-navbar uk-navbar-attached">

    <div class="mg-header-content uk-container uk-container-center">

        <div class="uk-hidden-small">
            <a class="mg-brand" href="{{ SITEURL }}">{% block header_text %}{% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}{% endblock %}</a>
            <div class="mg-tagline">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</div>
        </div>

        <ul class="uk-hidden-small mg-skiplinks">
            {% if not DISABLE_SEARCH %}
            <li><a href="#search-form">Search form</a></li>
            {% endif %}
        </ul>

        <div class="mg-header-extra uk-hidden-small">
            {% block header_extra %}
            {% endblock %}
        </div>

        <div class="mg-nav-small uk-visible-small">
            <a class="mg-nav-menu-toggle-small uk-navbar-toggle" href="#mg-offcanvas" data-uk-offcanvas></a>
            <a class="mg-brand uk-navbar-center" href="{{ SITEURL }}">{% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}</a>
        </div>

    </div>
</header>

<main>
    {% block desc_header %}
    {% endblock %}

    <div class="uk-container uk-container-center mg-main-content">

        <div class="uk-grid" data-uk-grid-margin>

            {% block content %}
            {% endblock %}

            <div role="navigation" class="uk-width-medium-1-5 uk-hidden-small">

                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Syndication</h3>
                    <a rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" class="mg-feed"><i class="uk-icon-rss uk-icon-medium"></i> ATOM</a>
                    {% if EXTRA_ATOM_FEED %}<a rel="alternate" type="application/atom+xml" href="{{ EXTRA_ATOM_FEED['url'] }}" class="mg-feed"><i class="uk-icon-rss uk-icon-medium"></i> {{ EXTRA_ATOM_FEED['name'] }}</a>{% endif %}
                </div>

                {% if SOCIAL %}
                <div class="uk-panel uk-panel-box">
                    <h2 class="uk-panel-title">Ubiquity</h2>
                    {% for link_destination, link in SOCIAL %}
                    <!-- http://microformats.org/wiki/rel-me -->
                    <a class="mg-icon-link" href="{{ link }}" rel="me" title="Link to my {{ link_destination }}">
                        <i class="uk-icon-{{ link_destination }} uk-icon-medium" aria-hidden="true"></i>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}

                {% if AVATARS %}
                <div class="uk-panel uk-panel-box">
                    <h2 class="uk-panel-title">Avatars</h2>
                    {% for img_uri in AVATARS %}
                    <img class="mg-avatar" src="{{ img_uri }}" alt="An avatar I use on the web" title="An avatar I use on the web">
                    {% endfor %}
                </div>
                {% endif %}

                {% if READINGS %}
                <a href="{{ SITEURL }}/past_readings.html">
                    <div class="uk-panel uk-panel-box">
                        <h2 class="uk-panel-title">En ce moment je lis</h2>
                        <img class="uk-thumbnail" src="{{ READINGS[0]['img_url'] }}" alt="{{ READINGS[0]['description'] }}" title="{{ READINGS[0]['description'] }}">
                    </div>
                </a>
                {% endif %}

                <div class="uk-panel uk-panel-box">
                    <ul class="uk-nav uk-nav-side">
                        {% if CATEGORY_SAVE_AS %}
                        <li class="uk-nav-header">Categories</li>
                        {% for cat, _ in categories %}
                        <li {% if cat == category %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                        {% endif %}

                        {% if DISPLAY_PAGES_ON_MENU != False %}
                        <li class="uk-nav-header">Pages</li>
                        {% for p in pages %}
                        <li {% if p == page %}class="uk-active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                        </li>
                        {% endfor %}
                        {% endif %}

                        {% if ARCHIVE_SAVE_AS %}
                        <li class="uk-nav-divider"></li>
                        <li {% if page_name == 'archives' %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                        {% endif %}
                    </ul>
                </div>

                {% if not DISABLE_SEARCH %}
                <iframe src="https://duckduckgo.com/search.html?site={{ SITEURL }}&prefill=Search" class="duckduckgo"></iframe>
                {% endif %}

                {% if LINKS %}
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Blogroll</h3>
                    <ul class="uk-nav uk-nav-side">
                    {% for text, url in LINKS %}
                    <li><a href="{{ url }}">{{ text }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if SUPPORTS %}
                <div class="uk-panel uk-panel-box">
                    {% for name, link, logo_url, title in SUPPORTS %}
                    <a href="{{ link }}">
                        <img class="mg-support-logo" src="{{ logo_url }}" alt="Logo {{ name }}" title="{{ title }}">
                    </a>
                    {% endfor %}
                </div>
                {% endif %}

            </div>

        </div>

    </div>

</main>

<footer class="mg-footer">
    <div class="uk-container uk-container-center uk-text-center">

        <ul class="mg-icons-small uk-subnav uk-visible-small">
            <li><a rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" class="uk-icon-button uk-icon-rss"></a></li>
            {% if EXTRA_ATOM_FEED %}<li><a rel="alternate" type="application/atom+xml" href="{{ EXTRA_ATOM_FEED['url'] }}" class="uk-icon-button uk-icon-rss"></a></li>{% endif %}
            {% if SOCIAL %}
            {% for link_destination, link in SOCIAL %}
            <li>
                <a class="mg-icon-link" href="{{ link }}" title="Link to my {{ link_destination }}">
                    <i class="uk-icon-{{ link_destination }} uk-icon-medium" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>

        <div class="mg-author uk-panel">
            <p>{{ FOOTER }}</p>
            <p>Powered by <a href="http://blog.getpelican.com">Pelican</a>.<br class="uk-visible-small"> Theme <a href="https://github.com/Lucas-C/pelican-mg">mg</a> thanks to <a href="https://github.com/lucachr">Luca Chiricozzi</a></p>
        </div>
    </div>
</footer>

<aside id="mg-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">

        {% if not DISABLE_SEARCH %}
        <iframe src="https://duckduckgo.com/search.html?site={{ SITEURL }}&prefill=Search" class="duckduckgo"></iframe>
        {% endif %}

        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            {% if CATEGORY_SAVE_AS %}
            <li class="uk-nav-header">Categories</li>
            {% for cat, _ in categories %}
            <li {% if cat == category %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
            {% endif %}

            {% if DISPLAY_PAGES_ON_MENU != False %}
            <li class="uk-nav-header">Pages</li>
            {% for p in pages %}
            <li {% if p == page %}class="uk-active"{% endif %}>
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            </li>
            {% endfor %}
            {% endif %}

            {% if ARCHIVE_SAVE_AS %}
            <li class="uk-nav-divider"></li>
            <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>
            {% endif %}

            {% if LINKS %}
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">Blogroll</li>
            {% for text, url in LINKS %}
            <li><a href="{{ url }}">{{ text }}</a></li>
            {% endfor %}
            {% endif %}

            {% if SUPPORTS %}
            <li class="uk-nav-divider"></li>
            {% for name, link, logo_url, title in SUPPORTS %}
            <li><a href="{{ link }}">
                <img class="mg-support-logo" src="{{ logo_url }}" alt="Logo {{ name }}" title="{{ title }}">
            </a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</aside>

<script src="{{SITEURL}}/theme/bundle-SHARE-{{SHARE|string|first|length|string|first}}-MG_FILTER_TAGS-{{MG_FILTER_TAGS|string|first|length|string|first}}-SHORTSHA1-12d0265.js"></script>

{% include 'disqus_count.html' %}
{% include 'analytics.html' %}
</body>
</html>
