{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block header_extra %}
{% if MG_FILTER_TAGS %}
{% for filter_tag in MG_FILTER_TAGS %}
<button class="mg-tag-filter" onclick="toggleTagFilter('{{ filter_tag }}')">{{ filter_tag.replace('lang:', '') }}</button>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<div class="uk-width-medium-4-5">

{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}

    {% if not MG_NO_EXCERPT and loop.index == 1 %}
        {% include "partials/article-excerpt.html" %}
    {% else %}
        {% include "partials/article-short.html" %}
    {% endif %}

{% endfor %}
{% if DEFAULT_PAGINATION  and articles_paginator.num_pages > 1 %}
    <ul class="uk-pagination">
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="uk-icon-angle-double-left"></i></a></li>{% endif %}
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">{{ articles_previous_page.number }}</a></li>{% endif %}
        <li class="uk-active"><span>{{ articles_page.number }}</span></li>
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="uk-icon-angle-double-right"></i></a></li>{% endif %}
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ articles_next_page.number }}</a></li>{% endif %}
    </ul>
{% endif %}

{% endif %}
</div>
{% endblock %}
